@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body{
    background-color:black
}
.main {
  background-image: url("assets/image/mov.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 644px;
  position: relative;
}

.main .box {
  height: 644px;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  justify-content: space-between;
  margin: 0 150px;
  display: flex;
  align-items: center;
  height: 100px;
}

nav img {
  color: red;
  width: 150px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding:0 30px;
}
.hero> :nth-child(1){
    
    font-weight: bolder;
    font-size: 48px;
    text-align:center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size : 24px;
    text-align:center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size : 20px;
    text-align:center;
}
.seperation{
    height:7px;
    background:rgb(76, 76, 76);
}
.btn{

  font-family: "Poppins", sans-serif;
    padding: 3px 8px;
    font-weight: bold;
    background-color:rgba(23, 23, 23, 0.2);
    color:white;
    font-weight:400;
    border-radius:6px;
    cursor:pointer;
}
.btn-red{
  font-weight:400;
    color:white;
background-color:red;
padding:10px 40px;
font-size:20px;
border-radius:6px
}
.main input{
  background-color:rgba(23, 23, 23, 0.2);
  padding:10px 40px;
font-size:20px;
border-radius:6px;
color:white;
}
.btn-red-sm{
  font-weight:400;
    color: white;
    background-color:red;
    border-radius:6px
}
.first{
  display:flex;
  justify-content:center;
  max-width:70vw;
  height:95vh;
  color:white;
  margin:auto;
  align-items:center;
}
.secimg{
  position:relative;
}
.secimg img{
  width:35vw;
  position:relative;
  z-index:10;
}
.secimg video{
  position:absolute;
  top: 69px;
  right: 64px;
  width: 25.5vw;
}
section.first> div{
  display:flex;
  flex-direction:column;
}
section.first> div :nth-child(1){
  font-size:48px;
  font-weight:bolder;
}
section.first> div :nth-child(2){
  font-size:20px;
}
.faq h1{
  text-align:center;
  font-size:48px;
}
.faq{
  background-color:black;
  color:white;
  padding: 82px 138px;
}
.faqbox{
  display:flex;
  background-color:rgb(54, 54, 54);
  padding:27px;
  margin:8px;
  justify-content:space-between;
  font-size:24px;
  cursor:pointer;
}
.faqbox:hover{
background-color:rgb(67, 67, 67);
}
.faqbox svg{
    color:white;
  cursor:pointer;
}
.news{
  position:relative;
}
.news img{
  width:35vw;
  position:relative;
  z-index:10;
}
.news video{
  position: absolute;
    top: 26px;
    right: 92px;
    width: 21.5vw;
}
.ready{
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:18px;
}
.down{
  font-family: 'Martel Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 23px;
  padding:39px 30px;
}
.down input {
  background-color: rgba(23, 23, 23, 0.2);
  font-size: 20px;
  color: white;
  padding: 10px 40px;
  border-radius: 6px;
}

footer {
  display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    flex-direction: column;
    
}